* { 

    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(70, 70, 70);
    font-family: 'Microsoft JhengHei', sans-serif;
    width: 1200px;
    margin:0 auto;
    padding: 0 ;    
    
}
h1 {
    text-align: center; 
    margin: 0;
    padding:6vh;
    font-size: 26px; 
    background-color: rgb(224, 243, 255);


}

section h4 {
    padding-left: 3vw;
    background-color: antiquewhite;
    padding-top: 2vh;
    padding-bottom: 2vh;
    

}
section {
    background-color: #ffffff;
    /* padding-top: 7vh; */
    min-height: 73vh;
    
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none; 
    padding: 1vh;
    /* padding-bottom: 80px;  */

}

li {
    width: 33%;
    /* height: 9vh; */
    margin-top: 25px;
    margin-bottom: 25px; 
    text-align: center;
    font-size: 20px;
    

}
li a{
    color: rgb(83, 83, 83);
    wor
}

body a{
    text-decoration: none;
}

footer {
    background-color: #0f637c;
    display: flex;
    justify-content: center;
    padding: 4vh;
    
}

footer a{
    color: white;
}




@media screen and (max-width:1200px) {
    body {
        width: 1000px;
        margin:0 auto;
    }

}

@media screen and (max-width:900px) {
    body {
        width: 700px;
        margin:0 auto;
    }

    section {

        min-height: 60vh;
        
        
    }
    ul{
        
    }
    li {
        width: 33%;
        word-wrap: break-word;   
        
    }
    li a {
         
        
    }
}

@media screen and (max-width:700px) {
    body {
        width: 600px;
        margin:0 auto;
    }

    li {
        width: 33%;
        
    }
    li a{
        font-size:17px;
    }

}

/* 響應式設計 */

@media screen and (max-width:600px) {
    body {
            width: 100%;
            margin:0 auto;
    }
    li {
            width: 33%;

    }
    
    section {
    
        
    
    }
    li a{
            font-size:17px;
    }
}