* { 

    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(70, 70, 70);
    font-family: 'Microsoft JhengHei', sans-serif;
    width: 1200px;
    margin:0 auto;  


}
h1 {
    text-align: center; 
    margin: 0;
    padding: 6vh;
    font-size: 26px; 
    background-color: rgb(224, 243, 255);

}

section {
    background-color: #ffffff;
    /* padding-top: 7vh; */
    height: 73vh;
    
}
section h4 {
    padding-left: 3vw;
    background-color: antiquewhite;
    padding-top: 2vh;
    padding-bottom: 2vh;
    
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none; 
    padding-top: 2vh; 

}

li {
    width: 25%;
    margin-top: 20px;
    margin-bottom: 20px; 
    text-align: center;
    font-size: 20px;
    color:black;
}

li a{
    color: rgb(0, 0, 0);
}

body a{
    text-decoration: none;
}

footer {
    background-color: #0f637c;
    color: #ffffff;
    text-align: center;
    padding: 4vh;     
}

/* 響應式語法 */

@media screen and (max-width:1200px) {
    body {
        width: 1000px;
        margin:0 auto;
    }

}

@media screen and (max-width:900px) {
    body {
        width: 700px;
        margin:0 auto;
    }

    section {

        height: 60vh;
        
    }
    li {
        width: 33%;
    }
}

@media screen and (max-width:700px) {
    body {
        width: 100%;
        margin:0 auto;
    }

    section {

        height: 60vh;
        
    }
    li {
        width: 33%;
    }

}

@media screen and (max-width:600px) {
    body {
            width: 100%;

    }
    li {
            width: 33%;
    }
    
    section {
    
            height: 40vh;
    
    }
    li a{
            font-size:17px;
    }
}

